{% extends 'Home/index.html' %}
{% block content %}
{% load static %}
    <section class="section section-bg" id="call-to-action" style="background-image: url(assets/images/banner-image-1-1920x500.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>Learn more <em>About Us</em></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Our Classes Start ***** -->
    <section class="section" id="our-classes">
        <div class="container">
            <br>
            <br>
            <br>
            <div class="row" id="tabs">
              <div class="col-lg-4">
                <ul>
                  <li><a href='#tabs-1'><i class="fa fa-soccer-ball-o"></i> Our Goals</a></li>
                  <li><a href='#tabs-2'><i class="fa fa-briefcase"></i> Our Work</a></a></li>

                </ul>
              </div>
              <div class="col-lg-8">
                <section class='tabs-content'>
                  <article id='tabs-1'>
                    <img src="assets/images/about-image-1-940x460.jpg" alt="">
                    <h4>Our Goals</h4>

                    <p>Our primary goal is to bridge the gap between employers and workers by providing a centralized platform that facilitates efficient and seamless connections. We aim to eliminate the challenges present in the traditional hiring process and offer a space where employers can easily find skilled workers for their tasks.</p>

                    <p>We aspire to revolutionize the hiring landscape by streamlining the entire process. Through a user-friendly interface, secure profiles, and a comprehensive job search system, we aim to make finding the right worker or job a hassle-free experience for our users.</p>

                    <p>Our goal is to enhance accessibility for both employers and workers. By creating an intuitive platform, we strive to make job opportunities easily accessible to workers while providing employers with a diverse pool of skilled individuals.</p>
                   
                  </article>
                  <article id='tabs-2'>
                    <img src="assets/images/about-image-2-940x460.jpg" alt="">
                    <h4>Our Work</h4>
                    <p>We are dedicated to developing an intuitive and user-friendly platform that caters to the needs of both employers and workers. Our development team works tirelessly to ensure a seamless experience for users, from registration to finding the perfect match.</p>
                    <p>We strive to provide a user-friendly dashboard for employers, allowing them to effortlessly view available jobs and manage their hiring processes efficiently. Our design and development teams collaborate to create an interface that prioritizes user experience.</p>
                    <p>Our commitment to efficiency extends to job offer management. We implement features that simplify the process of accepting and rejecting job offers, ensuring a straightforward and transparent interaction between employers and workers.</p>

                    <p>Join us on this journey of transformation, where our goals, passion, and works converge to create a platform that redefines the hiring experience for everyone involved.</p>
                  </article>
                  
                </section>
              </div>
            </div>
        </div>
    </section>
    <!-- ***** Our Classes End ***** -->


{% endblock %}
{% block job %}
{% endblock %}
  